&grd2ico_param 
glevel = 5, 
rlevel = 0, 
hgrid_basename = '/gs/hs1/jh230052/tutorial_package/NICAM_DATABASE/hgrid/gl05/rl00/grid',
vgrid_filename = '/gs/hs1/jh230052/tutorial_package/NICAM_DATABASE/vgrid/vgrid38.dat',
output_dir = './'
output_size = 4,
ll_kmax = 1,
ll_imax = 144,
ll_jmax = 73,
lon_ini = 0.0,
lat_ini = -90.0,
lon_inc = 2.5,
lat_inc = 2.5,
ntime = 1,
read_latlon_data = .false.,
yrev  = .false.
vitpl_spline = .true. ,
intpl_vgrid = .false.,
atm_vmax = 0,
sfc_vmax = 1,
/
